<!DOCTYPE html>
<html>
    <head>
        <link href="index.css" rel="stylesheet" type="text/css">
        <title>New Store</title>
        <script src="angular/angular.min.js" type="text/javascript"></script>
        <script src="addStore.js" type="text/javascript"></script>
    </head>
    
    
    
    <body ng-app="myApp" ng-controller="myCtrl">
        <h1>Add New Store</h1>
        <br><br>
        <form ng-submit="addStore()">
            NameOfStore : <input type="text" name="namenewStore" ng-model="name" required>
            <br><br>
             TypeOfStore &nbsp;:&nbsp; <input type="text" name="typenewStore" ng-model="type" required>
            <br><br>
            OwnerName &nbsp;:&nbsp; <input type="text" name="OwnernewStore" ng-model="ownerName" required>
            <br><br>
            Location  &nbsp;:&nbsp; <input type="text" name="LocationnewStore" ng-model="location" required>
            <br><br>
            
            <button> ADD</button>
        </form>
        
        
    </body>
</html>