<!DOCTYPE html>
<html>
    <head>
        <title>Administrator</title>
        <script src="Angular/angular/angular.min.js"></script>
        <script src="Angular/script.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="Admin">
            <div class="navbar">
                <div class="container">
                    <div class="logo">
                        <h1>Company</h1>
                    </div>
                    <div class="links">
                        <ul>
                            <li class="active"><a href="Home.html"> Home</a></li>
                            <li><a href="Log%20In.html">Sign In</a></li>
                            <li><a href="SignUp.html">Sign Up</a></li>
                            <li><a href="SelectYourType.html">Select your Type</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="admin">
                <h1>Welcome to Store</h1>
                <div class="row">
                    <div class="col">
                        <h2>Add Product</h2>
						<form>
		<script src="angular/angular.min.js" type="text/javascript"></script>
        <script src="addProductA.js" type="text/javascript"></script>
                     <input type="text" ng-model="namenewProduct"  required placeholder="NameOfProduct">
                    <br><br>
                    <input type="text" ng-model="pricnewProduct" required placeholder="PriceOfProduct">
                    <br><br>
                    <input type="text" ng-model="typenewProduct" required placeholder="TypeOfProduct">
                    <br><br>
                    <input type="text" ng-model="prandnewProduct"  required placeholder="BrandOfProduct">
                    <br><br>
                    <input type="text" ng-model="qualitynewProduct"  required placeholder="QualityOfProduct">
                    <br><br>
                    <button class="buttonProduct"> ADD</button>
					<form>
                    </div>
                    <div class="col">
                        <h2>Add Store</h2>
	                      <form>
			  <script src="angular/angular.min.js" type="text/javascript"></script>
        <script src="addStoreA.js" type="text/javascript"></script>
                     <input type="text" ng-model="namenewStore"  required placeholder="NameOfStore">
                    <br><br>
                    <input type="text" ng-model="typenewStore" required placeholder="TypeOfStore">
                    <br><br>
                    <input type="text" ng-model="OwnernewStore" required placeholder="OwnerName">
                    <br><br>
                    <input type="text" ng-model="LocationnewStore"  required placeholder="Location">
                    <br><br>
                         </form>
                    <button class="buttonStore"> ADD</button>
                    </div>
                     <div class="col">
					 
                    <h2>Add Brand</h2>
					
				<form>
		<script src="angular/angular.min.js" type="text/javascript"></script>
        <script src="brand.js" type="text/javascript"></script>
                    <input type="text"  ng-model="brandName" placeholder="BrandName" >
                    <br><br><br>
                    <input type="text"  ng-model="brandCategory" placeholder="BrandCategory">
                        <br><br>
                     <button class="buttonBrand">ADD</button>
					 <form>
					 
                </div>
                     <div class="col">
                    <h3>show Statistic</h3>
                    <button class="buttonState">show</button>
                </div>
                </div>
            </div>
        </div>
            
            
        
        
        
        
        
        
        <script src="JQuery/jquery-3.3.1.min.js"></script>
        <script src="JQuery/script.js"></script>
    </body>
</html>