<!DOCTYPE html>
<html>
    <head>
        <link href="css/stylesheet.css"  rel="stylesheet" type="text/css">
        <title>Administrator</title>
        <script src="js/Home.js" type="text/javascript">
    </script>
    <script src="js/angular/angular.min.js" type="text/javascript"></script>
    
    </head>
    
    
    <body>
        <div class="adminHome">
            <h1>Welcome to Store</h1>
            <div class="row">
                <div class="col">
                    <h2>Add Product</h2>
                    <form ng-submit="addProduct()">
                    NameOfProduct : <input type="text" name="namenewProduct" ng-model="newProduct" required>
                    <br><br>
                    PriceOfProduct &nbsp;:&nbsp; <input type="text" name="pricnewProduct" ng-model="newProduct" required>
                    <br><br>
                    TypeOfProduct &nbsp;:&nbsp; <input type="text" name="typenewProduct" ng-model="newProduct" required>
                    <br><br>
                    PrandOfProduct &nbsp;:&nbsp; <input type="text" name="prandnewProduct" ng-model="newProduct" required>
                    <br><br>
                    QualityOfProduct : <input type="text" name="qualitynewProduct" ng-model="newProduct" required>
                    <br><br>
                    <button ng-click="addProduct()"> ADD</button>
                    </form>
                </div>
                <div class="col">
                    <h2>Add Store</h2>
                    <form ng-submit="addStore()" >
                    NameOfStore : <input type="text" name="namenewStore" ng-model="newStore" required>
                    <br><br>
                     TypeOfStore &nbsp;:&nbsp; <input type="text" name="typenewStore" ng-model="newStore" required>
                    <br><br>
                    OwnerName &nbsp;:&nbsp; <input type="text" name="OwnernewStore" ng-model="newStore" required>
                    <br><br>
                    Location  &nbsp;:&nbsp; <input type="text" name="LocationnewStore" ng-model="newStore" required>
                    <br><br>

                    <button ng-click="addStore()"> ADD</button>
                </form>
                </div>
                <div class="col">
                    <h2>Add Brand</h2>
                    <form ng-submit="addBrand()" >
                    Brand Name &nbsp;&nbsp; : &nbsp;<input type="text" name="brandName" ng-model="newBrand" >
                    <br><br><br>
                    Brand Category : <input type="text" name="brandCategory" ng-model="newBrand" >
                        <br><br>
                     <button ng-click="addBrand()"> ADD</button>
                </form>
                </div>
            </div>
            
            <div class="state">
                <h3>show Statistic</h3>
                <button>show</button>
            </div>
        </div>
    </body>
</html>