#div1
{
    border: 2px solid cadetblue;
    background-color:aliceblue;
}
h1
{
    color: darkblue;
    padding: 5px;
}
body
{
    background-color:beige
}
h2
{
    text-align: center;
    color: darkblue;
    font-size: 50px;
    padding-top: 20px;
}
#div2
{
    padding-left: 550px;
    width: 30%;
    border: 2px solid beige;
    text-align: center;
}
input[type=submit]
{
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: dodgerblue;
    font-size: 20px;
}
#input1
{
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: skyblue;
    font-size: 20px;
}

#h2
{
    color: mediumblue;
    text-align: center;
    font-size: 50px;
    padding-top: 80px;
}
p
{
    color: dodgerblue;
    text-align: center;
}
#div3
{
    padding-left: 550px;
    width: 30%;
    border: 2px solid beige;
}
#input2
{
     padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: dodgerblue;
    font-size: 20px;
}
#header
{
    color:cornsilk;
    text-align: left;
    padding-top: 80px;
    font-size: 50px;
    padding-left: 20px;
}
#homepage
{
    background-image: url(Shop-Online-Background.jpg);
}
#inputhome
{
    background-color: beige;
    font-size: 20px;
    width: 20%;
}
#headerofmainpage
{
    font-size: 50px;
    color: darkred;
    text-align: center;
}
#p1inmainpage
{
    text-align: left;
    font-size: 30px;
    color: black;
}
#p2inmainpage
{
    text-align: left;
    font-size: 30px;
    color: black;
}
#mainpage
{
    text-decoration: none;
}
#mainpage:visited
{
    color:darkcyan;
}
#mainpage:hover
{
    color:chartreuse;
}