<!DOCTYPE html>
<html>
    <head>
        <link href="index.css" rel="stylesheet" type="text/css">
        <script src="angular/angular.min.js" type="text/javascript"></script>
        <script src="addProduct.js" type="text/javascript"></script>
        <title>Products</title>
    </head>
<body ng-app="myApp" ng-controller="myCtrl">
        <h1>Add the Product</h1>
        <br><br>
        <form>
            NameOfProduct : <input type="text" name="namenewProduct" ng-model="name" required>
            <br><br>
            PriceOfProduct &nbsp;:&nbsp; <input type="text" name="pricnewProduct" ng-model="price" required>
            <br><br>
            TypeOfProduct &nbsp;:&nbsp; <input type="text" name="typenewProduct" ng-model="type" required>
            <br><br>
            BrandOfProduct &nbsp;:&nbsp; <input type="text" name="brandnewProduct" ng-model="brand" required>
            <br><br>
            QuantityOfProduct : <input type="text" name="quantitynewProduct" ng-model="quantity" required>
            <br><br>
            <button ng-click="addProduct()"> ADD</button>
        </form>
        
        
    </body>
</html>
    