
.div1
{
    border: 2px solid cadetblue;
    background-color:aliceblue;
}
h1
{
    color: darkblue;
    padding: 5px;
}
body
{
    background-color:beige
}
h2
{
    text-align: center;
    color: darkblue;
    font-size: 50px;
    padding-top: 20px;
}
#div2
{
    padding-left: 550px;
    width: 30%;
    border: 2px solid beige;
}
input[type=submit]
{
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: dodgerblue;
    font-size: 20px;
}
#input1
{
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: skyblue;
    font-size: 20px;
}

#h2
{
    color: mediumblue;
    text-align: center;
    font-size: 50px;
    padding-top: 80px;
}
p
{
    color: dodgerblue;
    text-align: center;
}
#div3
{
    padding-left: 550px;
    width: 30%;
    border: 2px solid beige;
}
#input2
{
     padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: dodgerblue;
    font-size: 20px;
}
#header
{
    color:cornsilk;
    text-align: left;
    padding-top: 80px;
    font-size: 50px;
    padding-left: 20px;
}
#homepage
{
    background-image: url(../photo/Shop-Online-Background.jpg);
}
#inputhome
{
    background-color: beige;
    font-size: 20px;
    width: 20%;
}
#headerofmainpage
{
    font-size: 50px;
    color: darkred;
    text-align: center;
}
#p1inmainpage
{
    text-align: left;
    font-size: 30px;
    color: black;
}
#p2inmainpage
{
    text-align: left;
    font-size: 30px;
    color: black;
}
#mainpage
{
    text-decoration: none;
}
#mainpage:visited
{
    color:darkcyan;
}
#mainpage:hover
{
    color:chartreuse;
}



/*start type*/
.admin
{
    color: #2064a7;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 100px;
}
.admin .adminestrator
{
    color: #0053bd;
    text-align: left;
    font-size: 50px;
}
.admin .list ul
{
    list-style:disc;
}
a
{
    text-decoration: none;
    color: #8a8ad2;
}
a:hover
{
    color:#c7beca;
}
/*end type*/








/*start Administrator*/
.adminHome
{
    margin-left: 100px;
}
.adminHome h1 
{
    color: #110096;
    font-size: 50px;
    font-family: -webkit-pictograph;
}
.adminHome .row .col 
{
    border: 2px solid #e5e5ef;
    width: 50%;
    display: inline-block;
    margin: 15px;
}
.adminHome .row .col h2 
{
    color: #4c7bd4;
    font-size: 30px;
    margin: 10px;
}
.adminHome .row .col button 
{
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.adminHome .row .col form
{
    padding: 15px;
    color: #5355a2;
}
.adminHome .row
{
    padding-top: 50px;
}


.state
{
    border: 2px solid #e7e7e8;
    padding: 20px;
    margin: 10px;
    width: 20%;
    height: 40vh;
}
.state h3
{
    color: #4108ad;
    font-size: 30px;
}
.state button 
{
    width: 30%;
    font-size: 20px;
    color: #000c4e;
}
/*end Administrator*/



/*start storeOwner*/
.storeOwner
{
    padding: 10px;
}
.storeOwner h1
{
    font-size: 50px;
    margin-left: 100px;
}
.storeOwner .row .col 
{
    border: 2px solid #e5e5ef;
    width: 50%;
    display: inline-block;
    margin: 15px;
}
.storeOwner .row .col h2 
{
    color: #4c7bd4;
    font-size: 30px;
    margin: 10px;
}
.storeOwner .row .col button 
{
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.storeOwner .row .col form
{
    padding: 15px;
    color: #5355a2;
}
.storeOwner .row {
    padding-top: 50px;
    margin-left: 100px;
}
/*end storeOwner*/